body {
  background: #0f0f0f;
  font-family: Arial;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 90%;
  max-width: 400px;
  background: #181818;
  padding: 20px;
  border-radius: 15px;
}

#mensajes {
  height: 300px;
  overflow-y: auto;
  background: #111;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.msg {
  background: #272727;
  padding: 8px;
  margin: 5px 0;
  border-radius: 8px;
}

.input-box {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

button {
  margin-left: 5px;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
}
